.compWrapper {
    position: absolute;
    top: 56px;
    height: calc(100vh - 96px);
    width: calc(400px - 40px);
    padding: 20px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, .2);
    overflow: auto;
}

.graphWrapper {
    position: absolute;
    top: 56px;
    right: 0;
    height: calc(100vh - 56px);
    width: calc(100vw - 400px);
    overflow: scroll;
}

.dropdownTrigger,
.ongletTrigger {
    cursor: pointer;
}

.dropdownTrigger>div {
    display: inline;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, .08);
    padding: 0px 4px !important;
    opacity: 0;
    visibility: hidden;
}

.dropdownTrigger:hover>div {
    transition: 0.2s opacity ease;
    opacity: 1;
    visibility: visible;
}

.dropdownTrigger>div::after {
    content: "";
    display: none;
}

.dropdownContainer {
    width: 100%;
    transition: 0.3s height ease, 0.2s color ease;
    overflow: hidden;
}

.compWrapper .dropdownTrigger,
.compWrapper .competence {
    width: calc(100% - 5px);
    padding: 5px 0 5px 5px;
}

.compWrapper .dropdownContainer>.dropdownTrigger,
.compWrapper .dropdownContainer>.competence {
    width: calc(100% - 40px);
    padding: 3px 0 3px 40px;
}

.compWrapper .dropdownContainer>.dropdownContainer>.dropdownTrigger,
.compWrapper .dropdownContainer>.dropdownContainer>.competence {
    width: calc(100% - 80px);
    padding: 3px 0 3px 80px;
}

.compWrapper .dropdownContainer>.dropdownContainer>.dropdownContainer>.competence {
    width: calc(100% - 120px);
    padding: 3px 0 3px 120px;
}

.dropdownContainer {
    box-shadow: inset 0px 0.9px 0px 0px rgba(128, 128, 128, 0.445), inset 0px -0.9px 0px 0px rgba(128, 128, 128, 0.445);
}

.graph {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: auto;
    width: calc(100% - 40px);
    padding: 20px 20px 0 20px;
}

canvas {
    padding: 20px;
    width: calc(100% - 40px) !important;
}

.graph>div:nth-child(1) {
    grid-column: 2 / 3;
}

.graph>div:nth-child(2) {
    grid-column: 2 / 3;
}

.graph>div>div {
    width: 100%;
    text-align: center;   
}

.disabled {
    color: #00000080;
}

.loader {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--color-df);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}