nav {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: 4px 2px 15px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 2px 15px 5px rgba(0,0,0,0.3);
    box-shadow: 4px 2px 15px 5px rgba(0,0,0,0.3);
}

nav .onglet {
    width: calc(100% - 20px);
    padding: 5px 10px;
    cursor: pointer;
}

.mainWrapper {
    position: absolute;
    width: calc(100vw - 250px);
    height: 100vh;
    top: 0;
    right: 0;
    overflow: auto;
}

.mainWrapper .popup {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 600;
}

.nav {
    height: 56px;
    background-color: var(--color-df);
    color: white;
    line-height: 56px;
    text-align: center;
}

#InfoP form{
    margin: 50px 0 0 150px;
    padding: 0;
    width: 30%;
    min-width: 200px;
}

#Inter form,
#Qual form  {
    position: relative;
    width: 80%;
    left: 10%;
    top: 70px;
    margin: 10px 0;
}

#Inter form .intervention {
    display: grid;
    grid-template-areas: "dateD dateF entreprise client" "enregistrer details details details";
}

#Inter form input,
#Inter form select {
    width: calc(100% - 20px);
}

#Inter form select {
    height: 40px;
}

#Inter form .infos,
#Inter form .submit {
    text-align: center;
}

#Inter form *:not(.hr) {
    padding: 10px;
    word-wrap: break-word;
}

#Inter form .infos:nth-child(1) {
    grid-area: dateD;
}

#Inter form .infos:nth-child(2) {
    grid-area: dateF;
}

#Inter form .infos:nth-child(3) {
    grid-area: entreprise;
}

#Inter form .infos:nth-child(4) {
    grid-area: client;
}

#Inter form .details {
    grid-area: details;
}

#Inter form .submit {
    grid-area: enregistrer;
}

#Qual form .qualification {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

#Qual form .infos:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

#Qual form .infos:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

#Qual form .details {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    padding: 10px;
    word-wrap: break-word;
}

#Qual form .QualSubmit {
    grid-column: 1 / 3;
    text-align: center;
}

@media screen and (max-width: 1350px) {
    #Inter form .infos:nth-child(1),
    #Qual form .infos:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 10px;
        text-align: center;
    }
    
    #Inter form .infos:nth-child(2),
    #Qual form .infos:nth-child(2) {
        grid-column: 4 / 6;
        grid-row: 1 / 2;
        padding: 10px;
        text-align: center;
    }
    
    #Inter form .details,
    #Qual form .details {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        padding: 10px;
    }

    #Inter form .InterSubmit,
    #Qual form .QualSubmit {
        grid-column: 1 / 2;
    }
}

form input[type=text] {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.244);
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    margin: 10px 0;
    font-size: 15px;
}

form select {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.244);
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    margin: 10px 0;
    font-size: 15px;
    font-family: inherit;
    color: inherit;
}

input {
    color: inherit;
    font-family: inherit;
}

form input[type=date] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.244);
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    margin: 10px 0;
    font-size: 15px;
}

form textarea {
    width: calc(100% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.244);
    background: none;
    padding: 10px;
    resize: none;
    font-family: inherit;
    color: inherit;
}

input[type=number] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.244);
    border-top: none;
    border-right: none;
    border-left: 1px solid rgba(0, 0, 0, 0.244);
    background: none;
    width: 75px;
    text-align: center;
}

form input[type=submit] {
    padding: 10px 15px;
    margin: 10px auto;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s background-color ease, .2s color ease;
}

form input[type=submit]:hover {
    background-color: var(--color-df);
    color: white;
}

.QualSubmit>*,
.InterSubmit>* {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.compListWrapper {
    position: absolute;
    top: 56px;
    left: 0;
    width: calc(100% - 300px);
    margin: 50px 150px;
}

.dropdownTrigger {
    cursor: pointer;
    position: relative;
}

.dropdownTrigger::before {
    content: "+";
    margin-right: 10px;
    font-weight: bold;
    right: calc(-100% - 10px);
}

.dropdownContainer {
    width: 100%;
    transition: 0.3s height ease, 0.2s color ease;
    overflow: hidden;
}

.compListWrapper>.dropdownTrigger,
.compListWrapper>.comp {
    width: calc(100% - 20px);
    padding: 5px 0 5px 20px;
}

.compListWrapper>.dropdownContainer>.dropdownTrigger,
.compListWrapper>.dropdownContainer>.comp {
    width: calc(100% - 50px);
    padding: 3px 0 3px 50px;
}

.compListWrapper>.dropdownContainer>.dropdownContainer>.dropdownTrigger,
.compListWrapper>.dropdownContainer>.dropdownContainer>.comp {
    width: calc(100% - 80px);
    padding: 3px 0 3px 80px;
}

.compListWrapper>.dropdownContainer>.dropdownContainer>.dropdownContainer>.comp {
    width: calc(100% - 110px);
    padding: 3px 0 3px 110px;
}

.dropdownContainer {
    box-shadow: inset 0px 0.9px 0px 0px rgba(128, 128, 128, 0.445), inset 0px -0.9px 0px 0px rgba(128, 128, 128, 0.445);
}

.submit {
    position: fixed;
    margin: 10px 10px 10px 25px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: .2s background-color ease, .2s color ease;    
}

.submit:hover {
    background-color: var(--color-df);
    color: white;
}

.close {
    position: absolute;
    display: inline-block;
    z-index: 1000;
    height: 22px;
    line-height: 22px;
    top: 5px;
    right: 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    transition: .2s background-color ease, .2s color ease;
}

.close:hover {
    color: inherit;
    background-color: rgba(255, 255, 255, 1);
}

.w-50 {
    width: calc(50% - 225px) !important;
    margin: 50px 75px 50px 150px !important;
}

.graph {
    position: absolute;
    top: 56px;
    right: 0;
    width: calc(49% - 225px) !important;
    margin: 50px 150px 50px 75px !important;
}

.graph>div {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.144);
    margin: 30px 0;
}

.graph>div>span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.graphComp {
    width: 100%;
    margin-bottom: 10px;
}

.delInt {
    border: 2px solid rgba(0, 0, 0, .1);
    transition: .2s background-color ease, .2s color ease;    
}

.delInt:hover {
    background-color: var(--color-df);
    color: white;
}

.del {
    float: right;
    margin: 0 5px;
    font-weight: bold;
    cursor: pointer;
}

.comp .floatRight {
    display: none;
    position: relative;
    opacity: 0;
    cursor: pointer;
    font-size: 85%;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0 5px;
    margin-left: 5px;
}

.comp:hover .floatRight {
    opacity: 1;
    display: inline-block;
    transition: .2s opcaity ease;
}