.main-wrapper,
.popup {
    position: absolute;
    top: 56px;
    width: 100vw;
    height: calc(100vh - 56px);
    overflow: auto;
    -webkit-box-shadow: -3px 2px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -3px 2px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.main-wrapper {
    left: 0;
    width: 100vw;
}

.popup {
    visibility: hidden;
    background-color: white;
    right: 0;
    width: 30%;
}

.search,
.clientSelect {
    position: relative;
    top: 15%;
    left: 15%;
    max-width: calc(70% - 80px);
    max-height: calc(70% - 80px);
    text-align: center;
    overflow: auto;
    -webkit-box-shadow: 0px 23px 58px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 23px 58px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 23px 58px -19px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.search {
    padding: 40px 40px 30px 40px;
    z-index: 500;
}

.clientSelect {
    padding: 40px;
}

.search * {
    display: inline-block;
}

.filterContainer {
    text-align: left;
    margin: 10px 0;
    width: 100%;
}

.filterContainer>div {
    margin: 5px;
}

.ml {
    margin-left: 30px !important;
}

.searchBar {
    position: relative;
    width: 70%;
    min-height: 33px;
    /* border: 1px solid rgba(0, 0, 0, 0.144); */
    background-color: rgba(255, 255, 255, 0.473);
    text-align: left;
    cursor: text;
    border: 1px solid rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

.searchBar select {
    width: 110px;
}

.searchBar::before {
    content: "Recherche :";
    position: absolute;
    right: calc(100% + 10px);
    width: 100px;
    height: 44px;
    line-height: 44px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

#inputFilter {
    max-width: 100%;
}

#textInput {
    height: 28px !important;
    line-height: 30px !important;
    border: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

#textInput input {
    height: 100%;
    border: none;
    padding: 0;
    font-size: 15px;
    font-family: inherit;
}

#inputFilter>div {
    height: 26px;
    line-height: 23px;
    padding: 3px 6px;
    margin: 4px 0 4px 6px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    max-width: calc(100% - 13px);
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    background-color: unset;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

script {
    display: none !important;
}

.checkbox {
    height: 12px;
    width: 12px;
    margin: 2px;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    background-color: rgba(0, 0, 0, 0.144);
    transition: 0.2s color ease;
    color: rgba(0, 0, 0, 0);
}

.test {
    height: 12px;
    margin: 2px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    transition: 0.2s color ease;
}

input[type=checkbox]:checked~.checkbox {
    color: inherit;
}

input[type=checkbox]:checked~.test {
    background-color: var(--main-color);
}


/* input[type=checkbox]:not(:checked) + .checkbox {
    color: rgba(0, 0, 0, 0);
} */

.filterContainer .comp {
    border: 0.5px solid rgba(0, 0, 0, 0.144);
}

.filterContainer>div {
    padding: 2px;
}

.closeBtn {
    transform: scale(1.5);
    margin: 0 5px 0 20px;
    cursor: pointer;
    float: right;
}

.filterGrid {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: stretch;
    align-items: stretch;
    max-height: calc(100% - 50px);
}

.filterGrid>div {
    margin: 10px 0;
}

.filterGridLeft {
    grid-column: 1/2;
}

.filterGridRight {
    grid-column: 2/3;
}

.filterGridLarge {
    grid-column: 1/3;
}

.borderRight,
.borderBottom,
.borderLeft,
.borderTop {
    position: relative;
}

.borderRight::after,
.borderLeft::after,
.borderTop::after,
.borderBottom::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.borderBottom::after {
    bottom: -10px;
    width: 100%;
    left: 0%;
    height: 0.9px;
}

.borderTop::after {
    top: -10px;
    left: 0%;
    width: 100%;
    height: 0.9px;
}

.borderRight::after {
    top: 5%;
    right: 0;
    width: 0.9px;
    height: 90%;
}

.borderLeft::after {
    top: 5%;
    left: 0;
    width: 0.9px;
    height: 90%;
}

.competenceS,
.clientS {
    padding: 2px;
    margin: 2px;
    border: 0.9px solid rgba(0, 0, 0, 0.144);
}

.fakeComp {
    padding: 2.9px;
    margin: 2px;
}

.pole,
.disp {
    padding: 2.9px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.050);
    cursor: default;
}

.dropdownTrigger,
.ongletTrigger {
    cursor: pointer;
}

.dropdownTrigger>div,
.competencefake>div {
    display: inline;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, .08);
    padding: 0px 4px !important;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.dropdownTrigger:hover>div,
.competencefake:hover>div {
    transition: 0.2s opacity ease;
    opacity: 1;
    visibility: visible;
}

.dropdownTrigger>div::after {
    content: "";
    display: none;
}

.dropdownContainer {
    width: 100%;
    transition: 0.3s height ease, 0.2s color ease;
    overflow: hidden;
}

.compList .dropdownTrigger,
.compList .competencefake {
    width: calc(100% - 5px);
    padding: 5px 0 5px 5px;
}

.compList .dropdownContainer>.dropdownTrigger,
.compList .dropdownContainer>.competencefake {
    width: calc(100% - 40px);
    padding: 3px 0 3px 40px;
}

.compList .dropdownContainer>.dropdownContainer>.dropdownTrigger,
.compList .dropdownContainer>.dropdownContainer>.competencefake {
    width: calc(100% - 80px);
    padding: 3px 0 3px 80px;
}

.compList .dropdownContainer>.dropdownContainer>.dropdownContainer>.competencefake {
    width: calc(100% - 120px);
    padding: 3px 0 3px 120px;
}

.dropdownContainer {
    box-shadow: inset 0px 0.9px 0px 0px rgba(128, 128, 128, 0.445), inset 0px -0.9px 0px 0px rgba(128, 128, 128, 0.445);
}

.compSelectContainer {
    width: 100%;
    max-height: calc(100% - 50px);
}

.compListContainer,
.clientListContainer {
    margin: 40px 20px 20px 20px;
    overflow: auto;
    width: calc(100% - 40px);
}

.compListSelected,
.clientListSelected {
    right: 15%;
}


/* ================================================ */

.compSelectClose,
.clientSelectClose {
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0) !important;
}


/* ================================================ */

.competence,
.client {
    position: relative;
    cursor: pointer;
}

.client {
    margin-bottom: 5px;
}

.client::after {
    content: "+";
    font-weight: bolder;
    margin-left: 10px;
}

.compSelected,
.clientSelected {
    border: 1px solid rgba(0, 0, 0, 0.144);
    position: relative;
    padding: 2px 5px;
    margin-bottom: 5px;
}

select {
    overflow: hidden;
    padding: 0px 0 !important;
    font-family: inherit;
    height: 20px;
    line-height: 20px;
    /* width: 3.5em; */
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
}

select:focus {
    outline: none;
}

.searchBtn {
    position: relative;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    width: 300px;
    top: calc(15% + 50px);
    left: calc(50% - 150px);
    text-align: center;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    cursor: pointer;
    transition: .2s background-color ease, .2s color ease;
}

.searchBtn:hover {
    background-color: var(--main-color);
    color: var(--auto-color);
}

.sugest {
    width: 90%;
    margin: 10px 5%;
    display: none;
    grid-template-columns: 100%;
}

.sugest .sugestedItem {
    position: relative;
    padding: 3px 20px 3px 10px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    margin: 5px 0 0 5px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sugest .sugestedItem::after {
    content: "+";
    position: absolute;
    left: calc(100% - 14px);
    font-weight: bold;
}

.sugest>* {
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.labelComp {
    grid-column: 1 / 2;
}

.labelClient {
    grid-column: 2 / 3;
}

.helpTrigger {
    position: absolute;
    top: 10px;
    left: 10px;
}

.helpTrigger>i {
    padding: 5px;
    cursor: pointer;
    font-size: 35px !important;
    color: rgb(161, 161, 161);
    z-index: 600;
}

.help {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 10px;
    z-index: 1500;
    border: 1px solid rgba(0, 0, 0, .08);
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    visibility: hidden;
    min-width: 200px;
    max-width: calc(15% - 40px);
    max-height: 70vh;
    overflow: auto;
}

.help div {
    display: block;
    margin: 0;
    padding: 2px 0 0 10px;
}

.help>div {
    padding: 2px 0 0 0 !important;
}

.btn:not(a) {
    cursor: pointer !important;
}

.btn:not(a):not(.close) {
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    transition: .2s background-color ease, .2s color ease;
}

.btn:not(a):not(.close):hover {
    background-color: var(--main-color);
    color: var(--auto-color);
}

.btnSlideContainer {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: calc(50% - 100px);
    width: 200px;
    padding: 5px;
    border: 2px solid var(--main-color);
    border-radius: 100px;
    color: rgb(161, 161, 161);
}

.btnSlideContainer>div{
    position: relative;
    display: inline-block;
    width: calc(50% - 1.75px);
    text-align: center;
    z-index: 15;
    cursor: pointer;
}

.btnSlideContainer>div:nth-child(3) {
    position: absolute;
    height: calc(100% - 6px);
    background-color: var(--main-color);
    top: 0;
    border-radius: 100px;
    margin: 3px;
    z-index: 10;
    transition: .2s left ease, .2s right ease;
}